body {
  margin: 0;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
}

/* Imagen ocupa más espacio */
.lateral {
  width: 100%;
  height: 100%;
}

.lateral img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Menú abajo a la derecha */
.menu {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  border-radius: 15px;
}

/* Icono arriba */
.icono img {
  width: 80px;
  margin-bottom: 15px;
}

/* Botones estilo Doki Doki */
.boton {
  background-color: #ff80ab;
  color: white;
  border: 3mm solid white;
  border-radius: 50px;
  padding: 12px 25px;
  margin: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: transform 0.2s, background-color 0.3s;
}

.boton:hover {
  transform: scale(1.1);
  background-color: #ff4081;
}

/* Submenú capítulos (aparece a la derecha con efecto) */
.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  flex-direction: column;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.submenu.show {
  display: flex;
  opacity: 1;
}

/* Créditos */
.creditos {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background: rgba(255,255,255,0.8);
  padding: 10px;
  display: none;
}
